.row {
    display: flex-start;
}

.column {
  /* display: flex; */
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
}
