#input-container {
    display: flex-start;
    float: left;
    width: 50%;
}

#output-container {
    display: flex-end;
    float: right;
    width: 50%;
}

.column {
    /* display: flex; */
    float: left;
    width: 50%;
    /* border: black; */
    border-radius: 5px;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

#data-input {
    border-radius: 5px;
}