#headline-display {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  background-color: white;
}

.column {
  display: flex;
  flex-direction: column;
  float: left;
  width: 50%;
  /* border-style: solid; */
  /* padding: 15px; */
}

.row:after {
  display: table;
  clear: both;
  border-style: solid;
}

h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
}
